
.payment-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.payment label{
    font-size: 1vw;
}

.payment input{
    padding: 0.1vw;
    font-size: 1vw;
}

.basic-info{
    display: flex;
    justify-content: space-between;
}

.basic-info .info{
    width: 45%;
}

.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.payment-left{
    width: 50%;
}

.payment-left h2{
font-size: 1.5vw;
margin-bottom: 2vw;
}
.payment-right{
   width: 30%;
}

.cart-summary{
    border: 0.2vw solid black;
    padding: 0.5vw;
}

.summary-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.summary-info:last-child{
    margin-bottom: 0%;
}

.payment-right{
    font-size: 1vw;
}

.payment-right h3{
    background-color: #110F10;
    color: white;
    font-size: 1.2vw;
    text-align:center ;
}


@media(max-width:1200px){
    
    .payment-left h2{
        font-size: 2vw;
    }

    .info label{
        font-size: 1.3vw;
    }

    .info input{
        font-size: 1.3vw;
    }

    .payment-right h3{
        font-size: 1.5vw;
    }

    .cart-summary{
        padding: 1vw;
    }

    .summary-info p{
        font-size: 1.3vw;
    }
}

@media(max-width:960px){
    .payment-container{
        flex-direction:column-reverse;
        gap: 7vh;
        margin-bottom: 5vw;
    }

    .basic-info{
        flex-direction: column;
    }

    .basic-info .info{
        width: 100%;
    }

    .payment-right{
        width: 100%;
    }

    .payment-left{
        width: 100%;
    }
}

@media(max-width:770px){
    
    .payment-left h2{
        font-size: 2.2vw;
    }

    .info label{
        font-size: 1.5vw;
    }

    .info input{
        font-size: 1.5vw;
        padding: 5px;
    }

    .payment-right h3{
        font-size: 1.7vw;
    }

    .cart-summary{
        padding: 1vw;
    }

    .summary-info p{
        font-size: 1.5vw;
    }
}



@media(max-width:550px){
    
    .payment-left h2{
        font-size: 3vw;
    }

    .info label{
        font-size: 2.5vw;
    }

    .info input{
        font-size: 2.5vw;
        padding: 10px;
    }

    .payment-right h3{
        font-size: 2.7vw;
        padding: 0.5vw;
    }

    .cart-summary{
        padding: 1.2vw;
    }

    .summary-info p{
        font-size: 2.5vw;
    }
}




