.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #110F10;
    color: #F5F1F0;
    align-items: center;
    padding: 5vh 0;
    margin-top: 15vh;
    
}

.footer ul{
    list-style: none;
}

.footer li{
    display: inline-block;
    margin-right: 3vw;
    cursor: pointer;
    font-size: 1vw;
}

.footer li:last-child{
    margin-right: 0;
}

#footer-logo{
    width: 10vw;
}

.footer img{
    width: 1.5vw;
    cursor: pointer;
}



.footer-social-icons a{
    display: inline-block;
    margin-right: 2vw;
}

.footer-social-icons a:last-child{
    margin-right: 0%;
}


@media (max-width:1000px){
    #footer-logo{
        width: 12vw;
    }

    .footer li{
        
        margin-right: 3vw;
        ;
        font-size: 1.2vw;
    }

    .footer img{
        width: 1.7vw;
        
    }
}

@media (max-width:960px){
    .footer{
        display: none;
    }
}