@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Outfit;
  text-decoration: none;
}

html{
  font-size: 1rem;
}

body{
  background-color: #F5F1F0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  width: 60vw;
  margin: auto;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}